BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "CLK_EN" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MISO" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
FREQUENCY 48.000000 MHz ;
IOBUF PORT "CS" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "CLK" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "MOSI" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "SCK" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "CLK_EN" SITE "32" ;
LOCATE COMP "CLK" SITE "27" ;
LOCATE COMP "MISO" SITE "95" ;
LOCATE COMP "MOSI" SITE "96" ;
LOCATE COMP "SCK" SITE "94" ;
LOCATE COMP "CS" SITE "93" ;
IOBUF PORT "LED[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[2]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[3]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[4]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[5]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[6]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[7]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "LED[1]" SITE "98" ;
LOCATE COMP "LED[2]" SITE "99" ;
LOCATE COMP "LED[3]" SITE "100" ;
LOCATE COMP "LED[4]" SITE "104" ;
LOCATE COMP "LED[5]" SITE "105" ;
LOCATE COMP "LED[6]" SITE "106" ;
LOCATE COMP "LED[7]" SITE "107" ;
LOCATE COMP "LED[0]" SITE "97" ;
