BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG MASTER_SPI_PORT=DISABLE ;
LOCATE COMP "D[1]" SITE "98" ;
LOCATE COMP "D[0]" SITE "97" ;
LOCATE COMP "D[2]" SITE "99" ;
LOCATE COMP "D[3]" SITE "100" ;
LOCATE COMP "D[4]" SITE "104" ;
LOCATE COMP "D[5]" SITE "105" ;
LOCATE COMP "D[6]" SITE "106" ;
LOCATE COMP "D[7]" SITE "107" ;
LOCATE COMP "CLK_EN" SITE "32" ;
LOCATE COMP "CLK" SITE "27" ;
IOBUF PORT "D[5]" DRIVE=8 IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "D[4]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "D[6]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "D[7]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "D[3]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "D[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "D[1]" IO_TYPE=LVCMOS33 PULLMODE=UP DIFFRESISTOR=OFF ;
IOBUF PORT "D[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "CLK_EN" IO_TYPE=LVCMOS33 DRIVE=8 CLAMP=OFF PULLMODE=UP ;
IOBUF PORT "CLK" IO_TYPE=LVCMOS33 DRIVE=NA PULLMODE=DOWN ;
VOLTAGE 1.140 V;
